<!-- Seperate file for footer to be called in views files-->
<footer>
  <p>
    <!-- Shows linkedin logo embedded with link to linkedin account -->
    <a href="https://www.linkedin.com/in/casey-panganiban/" target="_blank">
      <img src="https://cdn.simpleicons.org/linkedin/0077B5" alt="LinkedIn logo" style="width: 24px; height: 24px;"> 
    </a>
    <!-- Shows github logo embedded with link to github account -->
    <a href="https://github.com/Okay-C" target="_blank">
      <img src="https://cdn.simpleicons.org/github/000000" alt="GitHub logo" style="width: 24px; height: 24px;">
    </a>
  </p>
  <p>Caseyethan.panganiban@ontariotechu.net | Copyright © 2024 Casey Panganiban. All rights reserved</p>
</footer>
