<footer class="text-center py-3">
  <p>
    <a href="https://www.linkedin.com/in/casey-panganiban/" target="_blank" class="text-decoration-none me-3">
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href="https://github.com/Okay-C" target="_blank" class="text-decoration-none">
      <i class="fa-brands fa-github"></i>
    </a>
  </p>
  <p>
    Caseyethan.panganiban@ontariotechu.net | Copyright © 2024 Casey Panganiban. All rights reserved
  </p>
</footer>
