<!-- Seperate file for footer to be called in views files-->

<footer>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMl7ROvQm6J2EeMe+PZrJ6POF/qZZbT37I9Z+F+" crossorigin="anonymous">

  <p>
    <!-- Shows linkedin logo embedded with link to linkedin account -->
    <a href="https://www.linkedin.com/in/casey-panganiban/" target="_blank" class="text-decoration-none me-3">
      <i class="fab fa-linkedin" style="font-size: 24px; color: #0077B5;"></i>
    </a>
    <!-- Shows github logo embedded with link to github account -->
   <a href="https://github.com/Okay-C" target="_blank" class="text-decoration-none">
      <i class="fab fa-github" style="font-size: 24px; color: #000000;"></i>
    </a>
  </p>
  <p>Caseyethan.panganiban@ontariotechu.net | Copyright © 2024 Casey Panganiban. All rights reserved</p>
</footer>
