<!-- Seperate file for header to be called in views files -->
<header>
    <nav class="navList">
      <li><span><a href="/home">Home</a></span></li>
      <li><span><a href="/about">About Me</a></span></li>
      <li><span><a href="/projects">Projects</a></span></li>
      <li><span><a href="/contact">Contact</a></span></li>
    </nav>
  </header>
  